@model Project2.Models.UserModel
<div class="text-center">
    <h1>Hello, @Model.Login ! You are logged now!</h1>
    <h1>@Model.Password</h1>

</div>

<br />
<br />
<center>
    <form asp-action="GenerateXml" asp-controller="Home" method="POST">
        <input id="Password" asp-for="Password" type="password" class="input" value=@Model.Password hidden>
        <input id="Login" asp-for="Login" type="text" class="input" value=@Model.Login hidden>
        <input id="Description" asp-for="Description" type="text" value=@Model.Description hidden>
        <input id="Reg" asp-for="Reg" type="text" class="input" size="35" value=@Model.Reg hidden>
        <input id="Reg" asp-for="MinDigits" type="text" class="input" size="35" value=@Model.MinDigits hidden>
        <input id="Reg" asp-for="MaxLength" type="text" class="input" size="35" value=@Model.MaxLength hidden>
        <input id="Reg" asp-for="MinLength" type="text" class="input" size="35" value=@Model.MinLength hidden>
        <input id="Reg" asp-for="MinUppercase" type="text" class="input" size="35" value=@Model.MinUppercase hidden>
        <input id="Reg" asp-for="MinLowercase" type="text" class="input" size="35" value=@Model.MinLowercase hidden>
        <input id="Reg" asp-for="MinSpecialSigns" type="text" class="input" size="35" value=@Model.MinSpecialSigns hidden>
        <div class="input-group">
            <button class="submit">GenerateXML</button>
        </div>
    </form>
</center>
<br />
<br />
@*
    <h2>
        <strong>Login: </strong>@Model.Login <br />
        <strong>Password: </strong>@Model.Password <br />
        <strong>Regex: </strong>@Model.Reg <br />
        <strong>Description: </strong> @Model.Description <br />
        <strong>MinLength: </strong> @Model.MinLength <br />
        <strong>MaxLength: </strong> @Model.MaxLength <br />
        <strong> MinUppercase: </strong> @Model.MinUppercase <br />
        <strong>MinLowercase: </strong> @Model.MinLowercase <br />
        <strong>MinSpecialSigns: </strong> @Model.MinSpecialSigns <br />
        <strong>MinDigits: </strong> @Model.MinDigits <br />
    </h2>
    <hr />
*@